.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-container {
  background-image: url('./assets/image.webp'); 
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: 'Arial'; /* Remplacez 'MaPolice' par le nom que vous souhaitez donner à votre police */
  src: url('./assets/image.webp') format('truetype'); /* Chemin vers le fichier .ttf de la police */
  /* Ajoutez les autres variantes de la police ici en utilisant la même structure */
}

/* Appliquez la police à l'élément souhaité */
body {
  background-image: url('./assets/image.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.add-book-button {
  font-size: 16px;
  padding: 12px 50px;
  margin-right: 40px;
  background-color: green;
}
.remove-all-book-button {
  font-size: 16px;
  padding: 10px 30px;
  margin-right: 940px;
  background-color: red;
}


